{#
 # Post Intro
 # Headline and optional introduction text
 #}

<article class="richtext__intro__wrapper{{ entry.level > 1 ? ' _chapter' : ' _article' }}">
    <div class="richtext__intro__headline{{ block.headline|length < 40 ? ' _large' }}">
        {{ block.headline }}
        <div class="richtext__intro__date">{{ postDate }}</div>

        {% if entry.hasDescendants() %}
            <aside class="chapter">
                <h4 class="chapter__headline">Chapters</h3>

                <div class="chapter__list">
                    {% for item in entry.descendants.all() %}
                        {% if item.status == 'live' %}
                            <a href="{{ item.url }}" data-hover="{{ item.title }}" class="chapter__item chapter__link">{{ item.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>

                {% set unpublishedChapterCount = entry.descendants.anyStatus|length - entry.descendants|length %}

                {% if unpublishedChapterCount > 0 %}
                    {# <h4 class="chapter__headline">{{ unpublishedChapterCount }} More Chapters to Come</h3> #}
                    {% set nextChapterTitle = entry.descendants.status('disabled').one().title %}

                    <p class="chapter__description social-share__text">

                        I’m working on <em>{{ unpublishedChapterCount != 1 ? unpublishedChapterCount : 'one' }} more chapter{{ unpublishedChapterCount > 1 ? 's' : '' }}</em>. The next one will be: “{{ nextChapterTitle }}”.
                    </p>
                    <p class="chapter__description social-share__text">
                        Want to <em>get notified</em> once it’s ready? Follow me here:
                    </p>
                    <p class="chapter__description">
                        <a href="https://medium.com/@medoingthings" target="_blank" title="Medium" class="social-share__link _medium"><svg aria-hidden="true" data-prefix="fab" data-icon="medium" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-medium fa-w-14 fa-3x"><path fill="currentColor" d="M0 32v448h448V32H0zm372.2 106.1l-24 23c-2.1 1.6-3.1 4.2-2.7 6.7v169.3c-.4 2.6.6 5.2 2.7 6.7l23.5 23v5.1h-118V367l24.3-23.6c2.4-2.4 2.4-3.1 2.4-6.7V199.8l-67.6 171.6h-9.1L125 199.8v115c-.7 4.8 1 9.7 4.4 13.2l31.6 38.3v5.1H71.2v-5.1l31.6-38.3c3.4-3.5 4.9-8.4 4.1-13.2v-133c.4-3.7-1-7.3-3.8-9.8L75 138.1V133h87.3l67.4 148L289 133.1h83.2v5z" class=""></path></svg></a>
                        <a href="https://twitter.com/medoingthings" target="_blank" title="Twitter" class="social-share__link _twitter"><svg aria-hidden="true" data-prefix="fab" data-icon="twitter-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-twitter-square fa-w-14 fa-3x"><path fill="currentColor" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z" class=""></path></svg></a>
                    </p>
                {% endif %}
            </aside>
        {% endif %}

        {% if entry.level > 1 %}
            {% set ancestor = craft.entries().ancestorOf(entry).one() %}

            <aside class="chapter">
                <p class="chapter__notice">
                    This article is part of the series <a href="{{ ancestor.url }}">{{ ancestor.title }}</a>
                </p>
            </aside>
        {% endif %}

    </div>

    <div class="richtext__intro__text">
        {{ block.introduction }}

        {% if entry.hasDescendants() %}
            {% set firstChapter = entry.descendants.one() %}

            {% if firstChapter|length %}
                <div class="chapter">
                    <div class="chapter__sibling">
                        <a href="{{ firstChapter.url }}" data-hover="{{ firstChapter.title }}" class="chapter__link _next"><span class="chapter__sibling__hint">first chapter</span>{{ firstChapter.title }}</a>
                    </div>
                </div>
            {% endif %}

        {% endif %}

    </div>
</article>
