{#
 # Writing Section Overview
 #}

{% extends "_default" %}

{# Make sure the correct section class is set in the _default template #}
{% set themeName = 'writing' %}

{% block content %}
    <section class="row-triangle__wrapper">
        <div class="row-triangle__content">

            {% for entry in craft.entries.section('writing').all() %}

                {% set postDate = entry.postDate | date("F jS") %}

                {% if (entry.postDate|date('Y') != now|date('Y')) %}
                    {% set postDate = postDate ~ (", " ~ entry.postDate|date('Y')) %}
                {% endif %}

                    <ul class="teaser-compact__list theme-article--{{ entry.id }}">
                        <li class="teaser-compact__item">
                            <a href="{{ entry.url }}" class="teaser-compact__link">
                                <div class="_heading">
                                    {{ entry.teaserHeadline }}
                                    <p class="teaser-compact__date">{{ postDate }}</p>
                                </div>
                            </a>
                            <p class="teaser-compact__text">
                                {{ entry.metaDescription }}
                            </p>
                        </li>
                    </ul>

            {% endfor %}

        </div>
        <div class="row-triangle__background">
            <svg width="1812" height="1652" viewBox="0 0 1812 1652">
                <path fill="#ffffff" d="M1811.746,0.993l-762.383,1650.013L1.242,165.923L1811.746,0.993z"/>
            </svg>
        </div>


    </section>

{% endblock content %}
